* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 15px;  /*styre avstand mellom elementene på siden*/
    margin-top: 10px; /*alle får samme top margin som øverste element*/
   }

.explore-header {
    padding: 0px 20px;
    max-width: 800px; /*maks størrelse for denne containeren er 800, pga main (parent) ikke kan bli større enn 600px*/
    margin: 0 auto;
}

.explore-content {
    padding: 0px 40px; 
    max-width: 600px; /*maks størrelse for denne containeren er 600, pga main (parent) ikke kan bli større enn 600px*/
    margin: 0 auto; /*sentrerer 0 gjør ikke så mye alene på y akse, men auto, gjør at alt space mellom høyre og venstre blir likt, derfor blir ting sentrert*/
}

p {
    font-size: 14px;
}

.img {
    display: block;
    margin: 0;
    padding: 0;
    }

.container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.container img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.container .container-image .text {
    position: absolute;
    color:white;
    top: 10px;
    right: 10px;
    font-size: 15px;
    text-align: center;
}

/*Sørger for at teksten blir større, etter min 650px størrelse*/
@media only screen and (min-width: 650px) {
    .container .container-image .text {
        font-size: 30px;
    }
}


@media screen and(max-width: 650px) {
    .container .container-image .text h2 {
    font-size: 60px;
}
}

.container-image {
    position: relative;
}

.container .btn-explore {
    position: absolute;
   /* top: 0px; */
  /*  left: 0px;*/
    bottom: 0px;
    right: 0px;
    border-radius: 100px;
    }
    
.btn-explore {
    background-color: #DB9350;
    color: #000000;
    font-weight: normal;
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 13px;
}    

.container2 img {
    height: 100%;
    width: 100%;
}


.container-for-teachers img {
    height: 100%;
    width: 100%;

}

.container-for-teachers img {
    height: 100%;
    width: 100%;
    
}

.container-for-researchers img {
    height: 100%;
    width: 100%;
    
}

/*avstand mellom EXPLORE og øverste bilde*/
.container img {
    margin-bottom: 15px;
    margin-top: 10px;
}
